  
  html {
    background: #000000;
    color: #bbb;
    font-family: 'Segoe UI', 'Roboto', 'Open Sans', 'sans-serif';
  }
  
  .controls {
    position: fixed;
    text-align: center;
    top: 1rem;
    width: 100%;
  }
  
  .button {
    color: #bbb;
    font-size: 4rem;
    margin: 0 0.5em;
    text-decoration: underline;
  }
  
  .button:first-child {
      margin-left: 0;
  }
  
  .button:last-child {
      margin-right: 0;
  }
  
  .button:hover {
    color: royalblue;
  }
  
  .stopwatch {
    font-size: 10rem;
    height: 10%;
    line-height: 30rem;
    text-align: center;
  }
  
  .results {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
  }